@import "tailwindcss";

/* ================= THEMES ================= */
[data-theme="dark"] {
  --bg: #0f172a;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --timer: #e5e7eb;
}

[data-theme="light"] {
  --bg: #ffffff;
  --text: #111827;
  --muted: #6b7280;
  --timer: #111827;
}


[data-theme="vibrant"] {
  --bg: #0b0b0b;
  --text: #ffffff;
  --muted: #a3a3a3;
  --timer: #00ff7f;
}

[data-theme="vscode"] {
  --bg: #1e1e1e;
  --text: #d4d4d4;
  --muted: #858585;
  --timer: #4fc1ff;
}


