@import "tailwindcss";

.font-spotifymix {
  font-family: var(--font-spotifymix);
}

/* ================= THEMES ================= */
[data-theme="dark"] {
  --bg: #000;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --timer: #e5e7eb;
}

[data-theme="light"] {
  --bg: #ffffff;
  --text: #111827;
  --muted: #6b7280;
  --timer: #111827;
}


[data-theme="vibrant"] {
  --bg: #000;
  --text: #ffffff;
  --muted: #a3a3a3;
  --timer: #00ff7f;
}

[data-theme="vscode"] {
  --bg: #000;
  --text: #d4d4d4;
  --muted: #858585;
  --timer: #DCFD00;
}


